language: php

php:
  - 7.1
  - 7.2

addons:
  mariadb: '10.2'

before_install:
  - sudo apt-get update -qq
  - composer self-update

install:
  - composer install

script: vendor/bin/phpunit

notifications:
  email: false
